@media screen and (max-width: 991px){

  .container{
    width: 100%;
  
  }

  h1{
    font-size: 30px;

  }

  h2{
    font-size: 25px;
    
  }

  h4{
    font-size: 14px;
  
  }

  .header-section{
    flex-direction: column;
    gap: 15px;

  }

  .nav-links ul{
    position: fixed;
    left: 0%;
    top: 92%;
    z-index: 2;   
    background: #fff;
    box-shadow: 0px -2px 8px 0px rgb(0 0 0 / 16%) ;
    width: 100vw;
    height: 8%;
    align-items: center;
    justify-content:space-around;
    font-weight: 400;
    
  }

  .img-container{
    width: 210px;

  }

  .img-container-2{
    width: 325px;


  }

  .right-header{
    display: none;

  }

  .left-btn{
    display: none;

  }

  .right-btn{
    display: none;

  }

  .services-examples{
    overflow: auto;

  }

  .services-details{
    overflow: auto;


  }

  .cards-group{
    overflow: auto;

  }

  /* width for verticle prefer height */
  ::-webkit-scrollbar {
    height: 5px;

  }

  /* Tracker */
  ::-webkit-scrollbar-track {
    border-radius: 10px;

  }
  
  /* thumb */
  ::-webkit-scrollbar-thumb {
    background: black; 
    border-radius: 10px;

  }

  .sub-footer{
    padding: 30px 16px 30px 16px;
  }


}



@media screen and (max-width: 768px){

  .img-container{
    width: 200px;

  }

  .img-container-2{
      width: 310px;
  
  }

  nav{
    border-bottom: none;

}

  .searchbar{
    position: absolute;
    margin: 0;
    top: 80px;
    left: 18px;
    width: 95vw;
    border-radius: 30px;

  } 

  input{
    width: 90vw;
    border-radius: 30px;

  }

  .header-section{
    margin-top: 70px;

  }

  .footer-content{
    gap: 10px;
    
  }

}

@media screen and (max-width: 479px) {


  h1{
    font-size: 28px;

  }

  h2{
    font-size: 20px;
    width: 75%;
    
  }

  .img-container{
      width: 136px;
  
  }

  .img-container-2{
      width: 210px;
  
  }

  .services {
    padding: 24px 2px 35px;

  }

  .services-examples > a > img{
    width: 325px;

  }

  .rating-users{
    flex-wrap: wrap;
    gap: 20px;
  }

  .searchbar{
    width: 90vw;
    left: 25px;
    
  } 

  input{
    width: 80vw;

  }

}